/* Home.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: #0056b3;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.links {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.tab {
    text-decoration: none;
    color: #fff; 
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.tab:hover {
    border-bottom: 2px solid #fff; 
}

.tab.active {
    border-bottom: 2px solid #fff; 
}

.info-box, .about-us {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.about-us {
    background-color: #f9f9f9;
}

.image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
.image-container img {
    max-width: 100%;
    height: auto;
  }